* {
    
    padding:0;
    box-sizing: border-box;

}

main {
    width:70%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    padding: 2em;
    height: 50%;
    color: white;
}

#sedans {
        background-color: hsl(31, 77%, 52%);
        color: white;
        border-top-left-radius: 3%;
        border-bottom-left-radius: 3%;
}

#suv {
    background-color: hsl(184, 100%, 22%);
    color: white;
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    color: white;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

#sedans-button {
    background-color:hsl(31, 77%, 52%) ;
    border-radius: 30%;
    color: white;
    border-color: white;
    width: 10em;
    height: 3em;
    
    
}

#suv-button {
    background-color: hsl(184, 100%, 22%);
    border-radius: 30%;
    color: white;
    border-color: white;
    width: 10em;
    height: 3em;
}

#luxury-button{
    background-color: hsl(179, 100%, 13%);
    border-radius: 30%;
    border-color: white;
    color: white;
    width: 10em;
    height: 3em;
}

p {
    font-size: 20px;
}